body{
    margin: 0;
    font: var(--base-font);
    color: var(--gray-40 );
    background-color: var(--off-white);
}
a{
    text-decoration: none;
    color: var(--warm-black);
}
.wrapper{
    margin: 0 auto;
    inline-size: 100%;
    min-inline-size: 320px;
    max-inline-size: 900px;
}