.main-product-detail{
    margin-block-start:4.5rem;
    padding-block-end:4.5rem ;
    position: relative;
    background-color: var(--warm-black) ;
}
.batata{
    display: block;
    inline-size: 2.5625rem;
    block-size: 1.5rem;
    position: absolute;
    top: -0.75rem;
    left: calc(50% - 1.25rem);
    background-image: url('../assets/img/batata.svg');
}
h2{
    font: var(--headline-1);
    text-align: center;
}
h3{
    font: var(--headline-3);
    margin: 0.625rem 0;
}
h2,h3{
    color:var(--just-white)
}
.product-detail--title{
    inline-size: 90%;
    max-inline-size: 29.125rem;
    margin: 0 auto;
    padding: 2.75rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-detail--title h2{
    margin-block-end: 10px;
}
.product-card-container{
    inline-size: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-block-start: 2.5rem;
}
.product-detail--card{
    inline-size: 90%;
    max-inline-size: 21.5625rem;
    padding: 0 1rem;
    background-color: var(--warm-black-plus);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 0.25rem;
}
.icon-clock,.icon-eye,.icon-dollar-sign,.icon-check-circle{
    font-size: 1.5rem;
    display: block;
    margin-block-start: 1rem;
}