.main-product-detail{
    margin-block-start:72px;
    padding-block-end:72px ;
    position: relative;
    background-color: var(--warm-black) ;
}
.batata{
    display: block;
    inline-size: 41px;
    block-size: 24px;
    position: absolute;
    top: -12px;
    left: calc(50% - 20px);
    background-image: url('../assets/img/batata.svg');
}
h2{
    font: var(--headline-1);
    text-align: center;
}
h3{
    font: var(--headline-3);
    margin: 10px 0;
}
h2,h3{
    color:var(--just-white)
}
.product-detail--title{
    inline-size: 90%;
    max-inline-size: 466px;
    margin: 0 auto;
    padding: 44px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-detail--title h2{
    margin-block-end: 10px;
}
.product-card-container{
    inline-size: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-block-start: 40px;
}
.product-detail--card{
    inline-size: 90%;
    max-inline-size: 345px;
    padding: 0 1rem;
    background-color: var(--warm-black-plus);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.icon-clock,.icon-eye,.icon-dollar-sign,.icon-check-circle{
    font-size: 24px;
    display: block;
    margin-block-start: 1rem;
}