.questions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid red; */
}
.frequent-questions{
    inline-size: 80%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* outline: 1px solid red; */
}
.questions-container h2{
    color: var(--warm-black);
    margin-block-start: 64px;
    margin-block-end: 40px;
}
.questions-container  .icon-arrow-down{
    font-size: 24px; 
    align-self: center;
    justify-self:end;
    color: var(--warm-black);
}